---
import Layout from "../layouts/Layout.astro";
import EmailCopyButton from "../components/EmailCopyButton";
---

<Layout pageIntro="Hi, I'm Patrick,">
  <!-- Main content with vertical spacing between sections -->
  <main class="space-y-16">
    <!-- Presently Section -->
    <section id="presently">
      <span class="bg-sky-100">presently</span>
      <p class="leading-relaxed">
        I'm a first year master's student in computer science at Georgia Tech
        🐝, graduating in December 2026. My academic focus spans topics including
        artificial intelligence, machine learning, and networking, but
        more broadly, I enjoy tackling unique challenges and building impactful
        solutions.
      </p>
    </section>

    <section id="passionately">
      <span class="bg-sky-100">passionately</span>
      <p class="leading-relaxed">
        Beyond academics, I love creating, organizing, and bringing ideas to
        life. Whether it's leading large-scale projects, managing dynamic teams,
        or designing a product from the ground up, I thrive in turning concepts
        into reality and making things happen. My approach is driven by
        efficiency and user impact, ensuring that every solution I develop is
        not only effective—but also refined, scalable, and meaningful.
      </p>
    </section>

    <!-- Previously Section -->
    <section id="previously">
      <span class="bg-sky-100">previously</span>
      <div class="flex justify-between items-center leading-relaxed">
        <p>GE Vernova</p>
        <p class="italic text-gray-500 text-xs">May - Sep 2024</p>
      </div>
      <p class="italic text-[10pt] -mt-1">Project Management Intern</p>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <span class="bg-sky-100">contact</span>

      <div class="flex items-center space-x-2">
        <span class="iconify" data-icon="mdi:email-outline" data-inline="false"
        ></span>
        <EmailCopyButton client:load email="pach@gatech.edu" />
      </div>

      <div class="flex items-center space-x-2">
        <!-- LinkedIn Icon (non-clickable) -->
        <span class="iconify" data-icon="mdi:linkedin" data-inline="false"
        ></span>
        <!-- Only the text is clickable -->
        <a
          href="https://linkedin.com/in/patrick-soo"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:bg-sky-200 transition-colors duration-300"
        >
          LinkedIn
        </a>
      </div>
    </section>
  </main>
</Layout>
