---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Main content with vertical spacing between sections -->
  <main class="space-y-16">
    <!-- Presently Section -->
    <section id="presently">
      <span class="bg-sky-100">presently</span>
      <p class="leading-relaxed">
        Fourth-year undergraduate computer science student at Georgia Tech 🐝,
        pursuing a master's degree starting Fall 2025. Concentrations of study:
        Intelligence (AI, ML) and Information Internetworks (Distributed
        Systems, Information Management).
      </p>
    </section>

    <!-- Previously Section -->
    <section id="previously">
      <span class="bg-sky-100">previously</span>
      <p class="leading-relaxed">hmm</p>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <span class="bg-sky-100">contact</span>
      <p class="leading-relaxed">
        I'd love to connect! Feel free to send me an email at
        <a href="mailto:patrick@example.com" class="text-blue-500 underline"
          >patrick@example.com</a
        >
        or connect with me on
        <a
          href="https://linkedin.com/in/patrick-soo"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500 underline">LinkedIn</a
        >.
      </p>
    </section>
  </main>
</Layout>
