---
import Layout from "../layouts/Layout.astro";
import PortfolioProject from "../components/PortfolioProject.astro";
---

<Layout title="Patrick Soo - Portfolio" pageIntro="and this is my portfolio.">
  <!-- Main content with vertical spacing between sections -->
  <main class="space-y-16">
    <!-- Computer Science Projects Section -->
    <section id="computer-science">
      <span class="bg-sky-100">computer science</span>

      <PortfolioProject
        title="Current Crisis - Gaming for Electric Power Grids"
        link="https://vip.gatech.edu/teams/vxi"
        image="/portfolio/cs/currentcrisis.png"
        description="An educational game sponsored by Sandia National Laboratories, designed to teach power grid resiliency through interactive decision-making. As a lead in game design and project management, I am working on shaping gameplay mechanics that simulate real-world disaster response, putting players in the role of a power grid operator balancing infrastructure stability, public safety, and environmental risks. Beyond public education, the game also will serve as a research tool, collecting player data to help train machine learning models for optimizing real-world disaster mitigation strategies. Developed as part of Georgia Tech’s VIP program, iterating on both gameplay systems and Agile workflows to refine the experience each semester."
      />

      <PortfolioProject
        title="Munch - Restaurant Review App"
        link="https://docs.google.com/document/d/1ly-hPEmAyjp8XeC7s5Ep08kbLCX4wTHNhaK4nMR5GZA/edit?usp=sharing"
        image="/portfolio/cs/munch.png"
        description="A personalized restaurant discovery app that tailors recommendations based on user preferences. Unlike traditional review platforms, Munch refines ratings dynamically, prioritizing aspects like taste, service, or value according to each user’s profile. Built with React Native and Expo, it integrates Google Maps Places API for real restaurant listings and Firebase for user authentication and reviews. A companion Chrome extension overlays personalized scores onto Google Maps for seamless browsing. Developed through iterative A/B testing and UI refinements, Munch enhances dining discovery by offering personalized, data-driven recommendations beyond generic crowd-sourced ratings."
      />
    </section>

    <!-- Design Section -->
    <section id="design">
      <span class="bg-sky-100">design</span>

      <PortfolioProject
        title="PBTFans Umbra"
        link="https://mekibo.com/products/pbtfans-umbra-in-stock?variant=44933335744800"
        image="/portfolio/design/pbtfans-umbra.jpeg"
        description="Pokémon inspired keycap set based on a refresh of a previous project - produced by Chinese plastics manufacturer PBTFans and distribution with international online storefronts including Mekibo (US), KBDFans (China), as well as numerous other regional storefronts. Over 2000 units sold globally with revenue of over 250,000 USD."
      />

      <PortfolioProject
        title="GMK White-on-Black Katakana"
        link="https://drop.com/buy/drop-gmk-white-on-black-katakana-custom-keycap-set"
        image="/portfolio/design/gmk-katakana.png"
        description="Keycap set inspired by the Japanese writing system. Organized manufacturing with German plastics maker GMK in collaboration with Large US-based international online storefront Drop (Corsair, Inc.) handling continued sales and distribution. Over 2500 units sold globally to date with revenue of over 350,000 USD. All profits from the first five months of pre-orders (~3,000 USD) donated to nonprofit organizations Equal Justice Initiative, WHO COVID-19 Response Fund, and Japanese American Citizens League."
      />

      <PortfolioProject
        title="EPBT Ivory"
        link="https://geekhack.org/index.php?topic=106722.0"
        image="/portfolio/design/epbt-ivory.jpeg"
        description="Elephant themed charity keycap set produced by Chinese plastics manufacturer EnjoyPBT and distribution with online storefronts Kono (US), Deskhero (Canada), MyKeyboard (Europe), Daily Clack (Australia), as well as a metal artisan edition manufactured by Rama Works. Over 1600 units sold globally with revenue of over 200,000 USD. 100% of profits from sales (24,220 USD) donated to 501(c)(3) nonprofit organization Save The Elephants."
      />

      <PortfolioProject
        title="GMK Umbra"
        link="https://geekhack.org/index.php?topic=103209.0"
        image="/portfolio/design/gmk-umbra.png"
        description="Keycap set inspired by a character from the Pokémon franchise. Organized manufacturing with German plastics maker GMK, and distribution with online storefronts Kono (US), Deskhero (Canada), MyKeyboard (Europe), Daily Clack (Australia), as well as metal artisan editions manufactured by Rama Works. Over 300 units sold globally at the end of pre-orders with total revenue over 25,000 USD."
      />
    </section>
  </main>
</Layout>
