---
import "@fontsource/ibm-plex-mono";
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-50 py-4">
  <p class="text-gray-400 text-[9px] text-center font-ibm">
    &copy; {currentYear} Patrick Soo. Built lightweight with <a
      href="https://astro.build/"
      class="hover:bg-gray-200 transition-colors duration-300">Astro</a
    >.
  </p>
</footer>
