---

---

<header class="flex items-center justify-between mb-8">
  <!-- Name on the left as a bold link to the homepage -->
  <a href="/" class="font-bold text-xl"> Patrick Soo </a>

  <!-- Navigation links on the right styled with extra-thin font -->
  <nav>
    <ul class="flex space-x-6">
      <li>
        <a
          href="/portfolio"
          class="font-extralight hover:underline hover:bg-sky-200 transition-colors duration-300"
        >
          Portfolio
        </a>
      </li>
      <li>
        <!-- open resume in new tab. _blank for new tab, rel for security purposes -->
        <a
          href="/resume.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="font-extralight hover:underline hover:bg-sky-200 transition-colors duration-300"
        >
          CV
        </a>
      </li>
    </ul>
  </nav>
</header>
